﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Kouluttajat:</h4>

<address>
	<strong>Lauri Kotilainen</strong><br/>
    <strong>Email:</strong>   <a href="mailto:lauri@offbeat.fi">lauri@offbeat.fi</a><br />
</address>

<address>
    <strong>Lenard Gunda</strong><br/>
    <strong>Email:</strong> <a href="mailto:lenard@offbeat.fi">lenard@offbeat.fi</a><br/>
</address>

<h4>Osallistujat:</h4>

<address>
    <strong>Hannes Nieminen</strong><br />
    <strong>Email:</strong>   <a href="mailto:hannes.nieminen@granlund.fi">hannes.nieminen@granlund.fi</a><br />
</address>

<address>
    <strong>Antti Karjakin</strong><br />
    <strong>Email:</strong>   <a href="mailto:antti.karjakin@granlund.fi">antti.karjakin@granlund.fi</a><br />
</address>

<address>
<strong>Henri Holm</strong><br />
<strong>Email:</strong>   <a href="mailto:henri.holm@granlund.fi">henri.holm@granlund.fi</a><br />
</address>
<address>
    <strong>Info:</strong> <a href="mailto:info(at)offbeat.fi">info(at)offbeat.fi</a><br/>
</address>

<hr />
<address>
    Tinantie 1 B 19<br />
    02430 Masala, Finland<br />
</address>


<address>
    <strong>Web:</strong>   <a href="http://img15.deviantart.net/14a7/i/2013/208/e/a/deep_one_by_uncannyknack-d5xyl5q.jpg">image</a><br />
</address>

<address>
    <strong>Info:</strong> <a href="mailto:lasse.ylinen(at)granlund.fi">lasse.ylinen(at)granlund.fi</a><br/>
    <strong>Info:</strong> <a href="mailto:lasse.ylinen(at)nsd.fi">lasse.ylinen(at)nsd.fi</a><br/>
    <strong>Info:</strong> <a href="mailto:lasse.ylinen(at)gmail.com">lasse.ylinen(at)gmail.com</a><br/>
</address>

<address>
    <strong>Petteri</strong><br/>
    <strong>Email:</strong> <a href=""></a><br/>
</address>

<address>
    <strong>Sampo Antila</strong><br />
    <strong>Email:</strong>   <a href="mailto:sampo.antila@granlund.fi">sampo.antila@granlund.fi</a><br />
</address>
