﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<img src="~/Content/logo.png" class="img-responsive" alt="title" />
</div>

<div class="row">
	<div class="col-md-4">
		<h2>
			Dolor sit.
		</h2>
		<p>
			Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
		</p>
		<p>
			<a class="btn btn-default" href="http://offbeat.fi">
				Dolor sit.
				&raquo;
			</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>
			Sit amet, consectetur.
		</h2>
		<p>
			Nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.
		</p>
		<p>
			<a class="btn btn-default" href="http://offbeat.fi">
				Dolor sit.
				&raquo;
			</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>
			Dolor sit.
		</h2>
		<p>Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.</p>
		<p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus.</p>
		<p>Nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
		<p>
			<a class="btn btn-default" href="http://offbeat.fi">
				Dolor sit.
				&raquo;
			</a>
		</p>
	</div>
</div>